<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <div id="container">
      <img src="../../assets/images/Profile2.png" alt="kosong" />
      <h1><strong>Lukmannul Hakim</strong></h1>
      <h4>Sosial Media</h4>
      <h5>
        @<a href="https://youtube.com/@Lukman_Kim?si=oIqVHCA9mGSoJPI1"
          >Youtube</a
        >
      </h5>
      <h5>
        @<a href="https://instagram.com/leo_darwis8?igshid=OGQ5ZDc2ODk2ZA=="
          >Instagram</a
        >
      </h5>
      <p>Email : lukmannul.hakim@mhs.politala.ac.id</p>
      <p>Mahasiswa Politeknik Negeri Tanah Laut<br />Angkatan 2022</p>
    </div>
  </ion-content>
</ion-content>
